<div class="participants">
	{{#each participants}}
		<div class="participant" data-participant-id="{{token.id}}">
			<img class="participant-avatar" src="{{token.texture.src}}"/>
			<h3 class="participant-name">{{token.name}}</h3>
			<div class="card{{#if isOwner}} clickable{{/if}}">
				{{#if card}}
					<img src="{{card.img}}"/>
				{{else if isOwner}}
					<span>
						<i class="{{@root.config.icons.drawcard}}"></i>
					</span>
				{{else}}
					<span>
						<i class="{{@root.config.icons.nocard}}"></i>
					</span>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
