{{! Note: SIMOC config is accessible within @root.config }}
<form autocomplete="off">
	<div class="participants">
		<h4>
			{{localize "SIMOC.Participant"}}
			<i class="fa-regular fa-circle-info" data-tooltip="{{localize "SIMOC.ParticipantHelpTooltip"}}" data-tooltip-direction="UP"></i>
		</h4>
		<h4>
			{{localize "SIMOC.User"}}
			<i class="fa-regular fa-circle-info" data-tooltip="{{localize "SIMOC.UserHelpTooltip"}}" data-tooltip-direction="UP"></i>
		</h4>
		<h4>
			{{localize "SIMOC.Cards"}}
			<i class="fa-regular fa-circle-info" data-tooltip="{{localize "SIMOC.CardsHelpTooltip"}}" data-tooltip-direction="UP"></i>
		</h4>
		{{#each participants}}
			<label class="participant-info">
				<input type="checkbox" id="{{id}}.checked" {{checked checked}}/>
				<img class="avatar" src="{{img}}"/>
				<span>{{name}}</span>
			</label>
			<select id="{{id}}.user">
				{{selectOptions ../users selected=user.id localize=false}}
			</select>
			<select id="{{id}}.stack">
				{{selectOptions ../stacks selected=../defaultStackId localize=false}}
			</select>
		{{/each}}
	</div>
</form>
